* { box-sizing: border-box; }

main {
  padding: 0.5rem;
  font-size: 1rem;
  padding-bottom: calc(100vh - 300px);
}

section {
  padding: 0;
  clear: both;
}

.clear {
  clear: both;
}

.sticky p {
  border-left: 8px solid transparent;
}
.sticky p.active {
  border-left: 4px solid #ccc;
  padding-left: 4px;
  background-color: #eee;
}

ve-header {
  margin-bottom: 20px;
}

ve-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

ve-image {
  float: right;
  width: 45%;
  margin: 0 0 12px 16px;
}

.sticky ve-image {
  clear: both;
  position: sticky;
  top: 6px;
  background-color: white;
  z-index: 2;
  height: calc(50vh - 124px);
}

main.sticky-header .sticky ve-image {
  top: 104px;
}

/* Mobile Devices */
@media (max-width: 480px) {
}
  
/* Low resolution devices Tablets, Ipads
@media (min-width: 481px) and (max-width: 767px) {}
*/

/* Tablets, iPads portrait mode
@media (min-width: 768px) and (max-width: 1024px){}
*/

/* Laptops and Desktops */
@media (min-width: 768px) {

  main {
    font-size: 1.2rem;
    padding: 1rem;
    max-width: 70rem;
    margin: auto;
  }

  .sticky ve-image {
    height: unset;
  }

  main.sticky-header .sticky ve-image {
    top: 154px;
  }

  .sticky ve-image + p, 
  .sticky ve-image ~ p,
  .sticky ve-image + div, 
  .sticky ve-image ~ div,
  .sticky ve-image + blockquote, 
  .sticky ve-image ~ blockquote,
  .sticky ve-image + ve-image-grid,
  .sticky ve-image ~ ve-image-grid {
    width: 53%;
    /* text-align: justify; */
  }

  .sticky p {
    border-left: 8px solid transparent;
  }
  .sticky p.active {
    border-left: 4px solid #ccc;
    padding-left: 4px;
    background-color: #eee;
  }

}
