main {
  padding: 1rem;
  max-width: 70rem;
  margin: auto;
}

section {
  padding: 0;
}

/* Mobile Devices */
@media (max-width: 480px) {
}
  
/* Low resolution devices Tablets, Ipads
@media (min-width: 481px) and (max-width: 767px) {}
*/

/* Tablets, iPads portrait mode
@media (min-width: 768px) and (max-width: 1024px){}
*/

/* Laptops and Desktops */
@media (min-width: 768px) {

  ve-image {
    position: relative;
    top: 0;
    width: 50%;
    float: right;
    margin: 0 0 12px 16px;
  }

}
