* { box-sizing: border-box; }

main {
  padding: 0.5rem;
}

section {
  padding: 0;
}

ve-image {
  clear: both;
  position: sticky;
  top: 6px;
  background-color: white;
  z-index: 2;
  height: calc(50vh - 124px);
}

main.sticky-header ve-image {
  top: 118px;
}

/* Mobile Devices */
@media (max-width: 480px) {
}
  
/* Low resolution devices Tablets, Ipads
@media (min-width: 481px) and (max-width: 767px) {}
*/

/* Tablets, iPads portrait mode
@media (min-width: 768px) and (max-width: 1024px){}
*/

/* Laptops and Desktops */
@media (min-width: 768px) {

  main {
    padding: 1rem;
    max-width: 70rem;
    margin: auto;
  }

  ve-image {
    width: 45%;
    float: right;
    margin: 0 0 12px 16px;
    height: unset;
  }

  main.sticky-header ve-image {
    top: 154px;
  }

  ve-image + p, ve-image ~ p,
  ve-image + div, ve-image ~ div,
  ve-image + blockquote, ve-image ~ blockquote {
      width: 53%;
    /* text-align: justify; */
  }
}